body {
    background-color: #393f49;
    color: #dcdcde;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main_container {

    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.nav_bar {
    width: 100%;
    height: 20px;
    background-color: #e8e9f1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.img_nav {
    margin-top: 3px;
    inline-size: 40px;
    margin-left: 10px;


}

.left_container {
    background-color: #151a22;
    width: 70%;
    
    float: inline-start;
}

.left_img {
    inline-size: 150px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 100px;
}

.head1 {
    margin-left: 40px;
}

.head3 {
    margin-left: 40px;
    line-height: 10px;

    color: #3a3f46;
}

.para1 {
    color: #3a3f46;

    line-height: 15px;
    margin-left: 40px;
    font-size: 14px;
}

.button1 {
    margin-left: 40px;
    background-color: #00a876;
    color: #dcdcde;
    padding: 10px;
    border: 1px solid #00a876;
    
    
}
.bottam_nav{
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 60px;
   
    
}
.drop
{
   background-color: inherit;
    border: initial;
    color: #3a3f46;
    float: left;
}
.bottam_nav a{
    text-decoration: none;
    color: #3a3f46;
    font-size: 13px;
    padding-left: 20px;
}

.right_container {
    background-color: #00a876;
    width: 30%;
    height: 573px;
   
    
    float: inline-end;
}
.login_form
{
    padding-top: 65%;
    padding-left: 10%;
    color: #92d9c2;
   
   
}
input{
    background: none;
    border: none;
    color: #92d9c2;
    border-bottom: 1px solid #92d9c2;
    width: 80%;
    
   

    
}
label{
  
    font-size: 11px;
   
}
.button2
{
   
    background-color: #dcdcde;
    color: #00a876;
    padding: 7px 30px;
    margin-top: 10px ;
    
  
    
    border: 1px solid #00a876;
}
.right_container a
{
    text-decoration: none;
    color: #92d9c2;
    font-size: 12px;

}
